<a href="/users/logout"><h3>Logout</h3></a>

<h1>Lists available</h1>

<a href="#"><h3>Add New List</h3></a>

{{#each lists}}
<div class="listcontainer">
  <h2>{{this.name}}</h2>
  <a href="#" data-list-id="{{this.id}}">See list contents</a>
  <a href="#" data-list-id="{{this.id}}">schedule delivery</a>
  <a href="#" data-list-id="{{this.id}}">Edit List</a>
  <a href="#" data-list-id="{{this.id}}">Delete List</a>
</div>
{{/each}}
